<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>E-Asset Management</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pkg.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAssetServlet</servlet-name>
    <servlet-class>pkg.AddAssetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssetServlet</servlet-name>
    <url-pattern>/AddAssetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>pkg.AdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/AdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>pkg.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAsset</servlet-name>
    <servlet-class>pkg.DeleteAsset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAsset</servlet-name>
    <url-pattern>/DeleteAsset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetDeallocate</servlet-name>
    <servlet-class>pkg.AssetDeallocate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetDeallocate</servlet-name>
    <url-pattern>/AssetDeallocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BillInfo</servlet-name>
    <servlet-class>pkg.BillInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillInfo</servlet-name>
    <url-pattern>/BillInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportCategoryBook</servlet-name>
    <servlet-class>pkg.ReportCategoryBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportCategoryBook</servlet-name>
    <url-pattern>/ReportCategoryBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportCategoryElect</servlet-name>
    <servlet-class>pkg.ReportCategoryElect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportCategoryElect</servlet-name>
    <url-pattern>/ReportCategoryElect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportBorrowedDetails</servlet-name>
    <servlet-class>pkg.ReportBorrowedDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportBorrowedDetails</servlet-name>
    <url-pattern>/ReportBorrowedDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportOverDue</servlet-name>
    <servlet-class>pkg.ReportOverDue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportOverDue</servlet-name>
    <url-pattern>/ReportOverDue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportFine</servlet-name>
    <servlet-class>pkg.ReportFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportFine</servlet-name>
    <url-pattern>/ReportFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssetAllocation</servlet-name>
    <servlet-class>pkg.AssetAllocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetAllocation</servlet-name>
    <url-pattern>/AssetAllocation</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>pkg.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
</web-app>